<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>This app is deployed in North America and Europe, adjusting exact location according to traffic.</h1>
        <h4>Your traffic is being routed to the following location:</h4>
        <ul>
          <li><b>City</b>: <%= city %></li>
          <li><b>Region</b>: <%= region %></li>
          <li><b>Country</b>: <%= country %></li>
        </ul>
      </div>
      <div class="jumbotron">
        <h4 style="margin-top: 24px;">Section gives <b>low latency</b>, <b>high availability</b> and <b>optimized cost</b> for your containerized Kubernetes applications and APIs.</h3>
        <p>Distribute your own Node Express app by visiting <a href="http://section.io/docs/tutorials/frameworks/nodeexpress/">http://section.io/docs/tutorials/frameworks/nodeexpress/</a></p>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
